<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
  
  <nav>
    🔥 Angular kanban
  </nav>

</header>

<main>

  <button (click)="handleNewTaskButtonClick()">+ New Task</button>
  <hr>
  <div class="kanban-container">

    <div class="col border-right">
      <h2>Backlog</h2>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[inProgressList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="tasks-container"
      >
        @for (task of todo; track task.id) {
          <app-task
            [task]="task"
            (editModalTypeEvent)="mode='edit'"
            (setOpenModalEvent)="isModalOpen=true"
            (setTaskToEditEvent)="taskToEdit=task"
            cdkDrag
          />
        }
      </div>
    </div>
  
    <div class="col border-right">
      <h2>In progress</h2>
      <div
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="tasks-container"
      >
        @for (task of inProgress; track task.id) {
          <app-task
            [task]="task"
            (editModalTypeEvent)="mode='edit'"
            (setOpenModalEvent)="isModalOpen=true"
            (setTaskToEditEvent)="taskToEdit=task"
            cdkDrag
          />
        }
      </div>
    </div>
  
    <div class="col">
      <h2>Done</h2>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[inProgressList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="tasks-container"
      >
        @for (task of done; track task.id) {
          <app-task
            [task]="task"
            (editModalTypeEvent)="mode='edit'"
            (setOpenModalEvent)="isModalOpen=true"
            (setTaskToEditEvent)="taskToEdit=task"
            cdkDrag
          />
        }
      </div>
    </div>
    
  </div>


  <!-- fixed position stuff -->
  @if (isModalOpen) {
    <app-task-modal
      (closeModalEvent)="closeModal()"
      (addTaskEvent)="addNewTask($event)"
      (modifyTaskEvent)="updateTask($event)"
      (deleteTaskEvent)="deleteTask($event)"
      [mode]="mode"
      [taskToEdit]="taskToEdit"
    />
  }

</main>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
